In [1]:
import zipfile
import pandas as pd

In [2]:
from io import BytesIO, StringIO

In [3]:
from ddf_utils.str import to_concept_id

In [5]:
zf = zipfile.ZipFile('../source/FAOSTAT.zip')

In [6]:
datasets = []
for f in zf.filelist:
    n = f.filename
    ns = n.split('_')[:3]
    count = 0
    d = []
    for x in ns:
        if x == '':
            continue
        d.append(x[0].upper())
        count = count + 1
        if count > 3:
            break
    d = ''.join(d)
    
    i = 1
    d_ = d
    while d_ in datasets:
        d_ = '{}{}'.format(d, i)
        i = i + 1
    datasets.append(d_)
    #print(d_)

In [7]:
datasets

['ARE',
 'ARS',
 'CCE',
 'CLE',
 'CEA',
 'DEA',
 'DAT',
 'EAA',
 'EAB',
 'EAB1',
 'EAC',
 'EAC1',
 'EAE',
 'EAE1',
 'EAM',
 'EAM1',
 'EAM2',
 'EAR',
 'EAS',
 'ELU',
 'ELU1',
 'ELU2',
 'ELU3',
 'ELU4',
 'EIE',
 'EAE2',
 'EEB',
 'EEI',
 'EEE',
 'EFE',
 'ELE',
 'ELE1',
 'ELE2',
 'ELE3',
 'EPE',
 'ESE',
 'ETC',
 'EWE',
 'ERE',
 'FEA',
 'FCE',
 'FLE',
 'FAS',
 'FSD',
 'FEA1',
 'FTF',
 'IFH',
 'IFE',
 'IFE1',
 'IFE2',
 'IFE3',
 'ILE',
 'IPT',
 'IPU',
 'ICE',
 'IC',
 'ICE1',
 'IFE4',
 'IGE',
 'IME',
 'IME1',
 'MKI',
 'PEA',
 'PEA1',
 'PEA2',
 'PME',
 'PIE',
 'PCS',
 'PCE',
 'PCE1',
 'PIE1',
 'PLE',
 'PLE1',
 'PLE2',
 'TCL',
 'TDE',
 'TIE',
 'TLE',
 'VOP']

In [8]:
fns = [x.filename for x in zf.filelist]

In [9]:
fns

['ASTI_Researchers_E_All_Data_(Normalized).zip',
 'ASTI_Research_Spending_E_All_Data_(Normalized).zip',
 'CommodityBalances_Crops_E_All_Data_(Normalized).zip',
 'CommodityBalances_LivestockFish_E_All_Data_(Normalized).zip',
 'ConsumerPriceIndices_E_All_Data_(Normalized).zip',
 'Deflators_E_All_Data_(Normalized).zip',
 'Development_Assistance_to_Agriculture_E_All_Data_(Normalized).zip',
 'Emissions_Agriculture_Agriculture_total_E_All_Data_(Normalized).zip',
 'Emissions_Agriculture_Burning_crop_residues_E_All_Data_(Normalized).zip',
 'Emissions_Agriculture_Burning_Savanna_E_All_Data_(Normalized).zip',
 'Emissions_Agriculture_Crop_Residues_E_All_Data_(Normalized).zip',
 'Emissions_Agriculture_Cultivated_Organic_Soils_E_All_Data_(Normalized).zip',
 'Emissions_Agriculture_Energy_E_All_Data_(Normalized).zip',
 'Emissions_Agriculture_Enteric_Fermentation_E_All_Data_(Normalized).zip',
 'Emissions_Agriculture_Manure_applied_to_soils_E_All_Data_(Normalized).zip',
 'Emissions_Agriculture_Manure_left_on_pasture_E_All_Data_(Normalized).zip',
 'Emissions_Agriculture_Manure_Management_E_All_Data_(Normalized).zip',
 'Emissions_Agriculture_Rice_Cultivation_E_All_Data_(Normalized).zip',
 'Emissions_Agriculture_Synthetic_Fertilizers_E_All_Data_(Normalized).zip',
 'Emissions_Land_Use_Burning_Biomass_E_All_Data_(Normalized).zip',
 'Emissions_Land_Use_Cropland_E_All_Data_(Normalized).zip',
 'Emissions_Land_Use_Forest_Land_E_All_Data_(Normalized).zip',
 'Emissions_Land_Use_Grassland_E_All_Data_(Normalized).zip',
 'Emissions_Land_Use_Land_Use_Total_E_All_Data_(Normalized).zip',
 'Employment_Indicators_E_All_Data_(Normalized).zip',
 'Environment_AirClimateChange_E_All_Data_(Normalized).zip',
 'Environment_Emissions_by_Sector_E_All_Data_(Normalized).zip',
 'Environment_Emissions_intensities_E_All_Data_(Normalized).zip',
 'Environment_Energy_E_All_Data_(Normalized).zip',
 'Environment_Fertilizers_E_All_Data_(Normalized).zip',
 'Environment_LandCover_E_All_Data_(Normalized).zip',
 'Environment_LandUse_E_All_Data_(Normalized).zip',
 'Environment_LivestockManure_E_All_Data_(Normalized).zip',
 'Environment_LivestockPatterns_E_All_Data_(Normalized).zip',
 'Environment_Pesticides_E_All_Data_(Normalized).zip',
 'Environment_Soil_E_All_Data_(Normalized).zip',
 'Environment_Temperature_change_E_All_Data_(Normalized).zip',
 'Environment_Water_E_All_Data_(Normalized).zip',
 'Exchange_rate_E_All_Data_(Normalized).zip',
 'FoodBalanceSheets_E_All_Data_(Normalized).zip',
 'FoodSupply_Crops_E_All_Data_(Normalized).zip',
 'FoodSupply_LivestockFish_E_All_Data_(Normalized).zip',
 'Food_Aid_Shipments_WFP_E_All_Data_(Normalized).zip',
 'Food_Security_Data_E_All_Data_(Normalized).zip',
 'Forestry_E_All_Data_(Normalized).zip',
 'Forestry_Trade_Flows_E_All_Data_(Normalized).zip',
 'Indicators_from_Household_Surveys_E_All_Data_(Normalized).zip',
 'Inputs_FertilizersArchive_E_All_Data_(Normalized).zip',
 'Inputs_FertilizersNutrient_E_All_Data_(Normalized).zip',
 'Inputs_FertilizersProduct_E_All_Data_(Normalized).zip',
 'Inputs_FertilizersTradeValues_E_All_Data_(Normalized).zip',
 'Inputs_LandUse_E_All_Data_(Normalized).zip',
 'Inputs_Pesticides_Trade_E_All_Data_(Normalized).zip',
 'Inputs_Pesticides_Use_E_All_Data_(Normalized).zip',
 'Investment_CapitalStock_E_All_Data_(Normalized).zip',
 'Investment_CountryInvestmentStatisticsProfile__E_All_Data_(Normalized).zip',
 'Investment_CreditAgriculture_E_All_Data_(Normalized).zip',
 'Investment_ForeignDirectInvestment_E_All_Data_(Normalized).zip',
 'Investment_GovernmentExpenditure_E_All_Data_(Normalized).zip',
 'Investment_MachineryArchive_E_All_Data_(Normalized).zip',
 'Investment_Machinery_E_All_Data_(Normalized).zip',
 'Macro-Statistics_Key_Indicators_E_All_Data_(Normalized).zip',
 'Population_E_All_Data_(Normalized).zip',
 'PricesArchive_E_All_Data_(Normalized).zip',
 'Prices_E_All_Data_(Normalized).zip',
 'Prices_Monthly_E_All_Data_(Normalized).zip',
 'Price_Indices_E_All_Data_(Normalized).zip',
 'Producci√≥n_Cultivos_S_Todos_los_Datos.zip',
 'Production_CropsProcessed_E_All_Data_(Normalized).zip',
 'Production_Crops_E_All_Data_(Normalized).zip',
 'Production_Indices_E_All_Data_(Normalized).zip',
 'Production_LivestockPrimary_E_All_Data_(Normalized).zip',
 'Production_LivestockProcessed_E_All_Data_(Normalized).zip',
 'Production_Livestock_E_All_Data_(Normalized).zip',
 'Trade_Crops_Livestock_E_All_Data_(Normalized).zip',
 'Trade_DetailedTradeMatrix_E_All_Data_(Normalized).zip',
 'Trade_Indices_E_All_Data_(Normalized).zip',
 'Trade_LiveAnimals_E_All_Data_(Normalized).zip',
 'Value_of_Production_E_All_Data_(Normalized).zip']

In [10]:
domains = dict(zip(fns, datasets))

In [11]:
len(zf.filelist)

79

In [14]:
zf.filelist[0].filename

'ASTI_Researchers_E_All_Data_(Normalized).zip'

In [19]:
# files can't be read
for f in zf.filelist:
    fn = f.filename
    b = BytesIO(zf.read(fn))
    try:
        a = next(pd.read_csv(b, encoding='latin1', compression='zip', chunksize=1))
    except NotImplementedError:
        print(fn)

Development_Assistance_to_Agriculture_E_All_Data_(Normalized).zip
Trade_DetailedTradeMatrix_E_All_Data_(Normalized).zip

In [12]:
b = BytesIO(zf.read('Development_Assistance_to_Agriculture_E_All_Data_(Normalized).zip')) 
# ^ can't load because it's zipped by a not supported method

In [15]:
b = BytesIO(zf.read('Trade_Crops_Livestock_E_All_Data_(Normalized).zip'))

In [17]:
a = next(pd.read_csv(b, encoding='latin1', compression='zip', chunksize=1))
# a_ = pd.read_csv('Development_Assistance_to_Agriculture_E_All_Data_(Normalized).csv', chunksize=10)

In [18]:
a.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,231,Almonds shelled,5910,Export Quantity,1961,1961,tonnes,0.0,NaN

In [133]:
a[a['Area Code'] == 261].head()

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
13825353,261,EU(12)ex.int,862,Alfalfa meal and pellets,5610,Import Quantity,1986,1986,tonnes,97405.0,A
13825354,261,EU(12)ex.int,862,Alfalfa meal and pellets,5610,Import Quantity,1987,1987,tonnes,71635.0,A
13825355,261,EU(12)ex.int,862,Alfalfa meal and pellets,5610,Import Quantity,1988,1988,tonnes,70367.0,A
13825356,261,EU(12)ex.int,862,Alfalfa meal and pellets,5610,Import Quantity,1989,1989,tonnes,70327.0,A
13825357,261,EU(12)ex.int,862,Alfalfa meal and pellets,5610,Import Quantity,1990,1990,tonnes,67262.0,A

In [134]:
a['Area'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belgium-Luxembourg', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "C√¥te d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Ethiopia PDR', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles (former)', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Norfolk Island', 'Norway', 'Occupied Palestinian Territory',
       'Oman', 'Pacific Islands Trust Territory', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Sudan (former)',
       'Suriname', 'Swaziland', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'USSR', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Yugoslav SFR', 'Zambia', 'Zimbabwe', 'China', 'World', 'Africa',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-Eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia & New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia', 'EU(12)ex.int',
       'EU(15)ex.int', 'EU(25)ex.int', 'EU(27)ex.int', 'European Union',
       'European Union (exc intra-trade)', 'Least Developed Countries',
       'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries'], dtype=object)

In [50]:
(a.groupby(['Indicator'])
 .get_group('Employment-to-population ratio, rural areas')[['Country Code', 'Source', 'Year', 'Value']]['Source']
 .unique())

array(['Household survey', 'Population census',
       'European Union Labour force survey', 'Labour force survey',
       'Household income and expenditure survey', 'Official estimates'],
      dtype=object)

In [20]:
# files will be skipped:

for x in zf.filelist:
    if 'Security' in x.filename or 'Survey' in x.filename or 'Monthly' in x.filename or 'Archive' in x.filename:
        print(x.filename)

Food_Security_Data_E_All_Data_(Normalized).zip
Indicators_from_Household_Surveys_E_All_Data_(Normalized).zip
Inputs_FertilizersArchive_E_All_Data_(Normalized).zip
Investment_MachineryArchive_E_All_Data_(Normalized).zip
PricesArchive_E_All_Data_(Normalized).zip
Prices_Monthly_E_All_Data_(Normalized).zip

In [68]:
from pandas.api.types import CategoricalDtype
import numpy as np
import requests as r

In [79]:
all_flags = r.get('http://fenixservices.fao.org/faostat/api/v1/en/definitions/types/flag').json()
important_flags = [np.nan, 'E', 'F', 'Ff', 'A', 'S']

In [77]:
all_flags_names = [x['Flag'] for x in all_flags['data']]

In [81]:
all_flags_names = all_flags_names[1:]

In [86]:
flags_order = pd.Series([*important_flags, *all_flags_names]).drop_duplicates().values.tolist()

In [89]:
flag_cat = CategoricalDtype(flags_order, ordered=True)

ValueError: Categorial categories cannot be null

In [92]:
flags_order[0] = '_'
flag_cat = CategoricalDtype(flags_order, ordered=True)

In [93]:
flag_cat

CategoricalDtype(categories=['_', 'E', 'F', 'Ff', 'A', 'S', '*', '<0.1', '<2.5', 'AS',
                  'B', 'Bk', 'C', 'Ce', 'Cv', 'EA', 'Fa', 'Fb', 'Fc', 'Fm',
                  'Fp', 'I', 'Im', 'M', 'NA', 'NR', 'NS', 'NV', 'P', 'Q', 'Qm',
                  'R', 'SD', 'T', 'UNSD', 'W', 'X', 'XAM', 'XF', 'XFP', 'XI',
                  'XIb', 'XIF', 'XIFb', 'XIM', 'XIMF', 'XIn', 'XIs', 'XIu',
                  'XO', 'XOEa', 'XU', 'XUI', 'XUru', 'Z'],
                 ordered=True)

In [165]:
def process_file(f):
    concs = []
    b = BytesIO(zf.read(f))
    df = pd.read_csv(b, encoding='latin1', compression='zip')
    
    try:
        df['Year'].astype('int')
    except ValueError:
        raise ValueError('Can not convert year to int')
    
    #print(df.columns)
    
    if 'Element' in df.columns:
        group = df.groupby(['Item', 'Element'])
    else:
        group = df.groupby('Item')
    
    for g, idx in group.groups.items():
        if 'Area Code' in df.columns:
            df_ = df.loc[idx][['Area Code', 'Year', 'Value', 'Unit', 'Flag']].copy()
        elif 'Country Code' in df.columns:
            df_ = df.loc[idx][['Country Code', 'Year', 'Value', 'Unit', 'Flag']].copy()
        elif 'CountryCode' in df.columns:
            df_ = df.loc[idx][['CountryCode', 'Year', 'Value', 'Unit', 'Flag']].copy()
        else:
            raise KeyError(df.columns)

        if isinstance(g, str):
            indicator = g
        else:
            indicator = ' - '.join(g)
        concept_id = to_concept_id(indicator+' '+domains[f])
        
        if len(df_) == 0:  # no content
            continue
        if len(df_['Unit'].unique()) > 1:
            print('unit not unique', concept_id, df_['Unit'].unique())
            continue  # don't proceed these indicators
        
        unit = df_['Unit'].unique()[0]
        #print(indicator)
        concs.append({
            'name': indicator,
            'concept': concept_id,
            'unit': unit
        })
        
        df_.columns = ['geo', 'year', concept_id, 'unit', 'flag']
        
        df_['flag'] = df_['flag'].fillna('_')
        df_['flag'] = df_['flag'].astype(flag_cat)
        df_ = df_.sort_values(by='flag').drop_duplicates(subset=['geo', 'year'], keep='first')
        
        if df_[df_.duplicated(subset=['geo', 'year'])].shape[0] > 0:
            print('duplicated found in {}'.format(concept_id))

        (df_[['geo', 'year', concept_id]]
         .to_csv('../../ddf--datapoints--{}--by--geo--year.csv'.format(concept_id), 
                 index=False))
        
    return concs

In [22]:
skipFiles = ['Development_Assistance_to_Agriculture_E_All_Data_(Normalized).zip', # zip not support
             'Food_Security_Data_E_All_Data_(Normalized).zip',
             'Indicators_from_Household_Surveys_E_All_Data_(Normalized).zip',
             'Prices_Monthly_E_All_Data_(Normalized).zip',
             'Trade_DetailedTradeMatrix_E_All_Data_(Normalized).zip',  # zip not support
             'Forestry_Trade_Flows_E_All_Data_(Normalized).zip',
             'Employment_Indicators_E_All_Data_(Normalized).zip',
             'Environment_Temperature_change_E_All_Data_(Normalized).zip',  # monthly
             'Food_Aid_Shipments_WFP_E_All_Data_(Normalized).zip',
             'Producci√≥n_Cultivos_S_Todos_los_Datos.zip', # not in english
             'Inputs_FertilizersArchive_E_All_Data_(Normalized).zip', # archive
             'Investment_MachineryArchive_E_All_Data_(Normalized).zip'
            ]

In [166]:
processed = []
failed = []

# all concepts
concs = []

In [167]:
processed

[]

In [168]:
for f in zf.filelist:
    if f.filename in skipFiles or f.filename in processed:
        continue
    print(f.filename)
    try:
        concs_ = process_file(f.filename)
    except (KeyError, ValueError) as e:
        print('failed')
        print(e)
        failed.append(f.filename)
        continue
    [concs.append(x) for x in concs_]
    processed.append(f.filename)

ASTI_Researchers_E_All_Data_(Normalized).zip
ASTI_Research_Spending_E_All_Data_(Normalized).zip
CommodityBalances_Crops_E_All_Data_(Normalized).zip
CommodityBalances_LivestockFish_E_All_Data_(Normalized).zip
ConsumerPriceIndices_E_All_Data_(Normalized).zip
Deflators_E_All_Data_(Normalized).zip
Emissions_Agriculture_Agriculture_total_E_All_Data_(Normalized).zip
Emissions_Agriculture_Burning_crop_residues_E_All_Data_(Normalized).zip
Emissions_Agriculture_Burning_Savanna_E_All_Data_(Normalized).zip
Emissions_Agriculture_Crop_Residues_E_All_Data_(Normalized).zip
Emissions_Agriculture_Cultivated_Organic_Soils_E_All_Data_(Normalized).zip
Emissions_Agriculture_Energy_E_All_Data_(Normalized).zip
unit not unique electricity_consumption_in_agriculture_eae ['Terajoule' 'million kWh']
Emissions_Agriculture_Enteric_Fermentation_E_All_Data_(Normalized).zip
Emissions_Agriculture_Manure_applied_to_soils_E_All_Data_(Normalized).zip
Emissions_Agriculture_Manure_left_on_pasture_E_All_Data_(Normalized).zip
Emissions_Agriculture_Manure_Management_E_All_Data_(Normalized).zip
Emissions_Agriculture_Rice_Cultivation_E_All_Data_(Normalized).zip
Emissions_Agriculture_Synthetic_Fertilizers_E_All_Data_(Normalized).zip
Emissions_Land_Use_Burning_Biomass_E_All_Data_(Normalized).zip
Emissions_Land_Use_Cropland_E_All_Data_(Normalized).zip
Emissions_Land_Use_Forest_Land_E_All_Data_(Normalized).zip
Emissions_Land_Use_Grassland_E_All_Data_(Normalized).zip
Emissions_Land_Use_Land_Use_Total_E_All_Data_(Normalized).zip
Environment_AirClimateChange_E_All_Data_(Normalized).zip
Environment_Emissions_by_Sector_E_All_Data_(Normalized).zip
Environment_Emissions_intensities_E_All_Data_(Normalized).zip
Environment_Energy_E_All_Data_(Normalized).zip
Environment_Fertilizers_E_All_Data_(Normalized).zip
Environment_LandCover_E_All_Data_(Normalized).zip
Environment_LandUse_E_All_Data_(Normalized).zip
Environment_LivestockManure_E_All_Data_(Normalized).zip
Environment_LivestockPatterns_E_All_Data_(Normalized).zip
Environment_Pesticides_E_All_Data_(Normalized).zip
Environment_Soil_E_All_Data_(Normalized).zip
Environment_Water_E_All_Data_(Normalized).zip
Exchange_rate_E_All_Data_(Normalized).zip
FoodBalanceSheets_E_All_Data_(Normalized).zip
FoodSupply_Crops_E_All_Data_(Normalized).zip
FoodSupply_LivestockFish_E_All_Data_(Normalized).zip
Forestry_E_All_Data_(Normalized).zip
Inputs_FertilizersNutrient_E_All_Data_(Normalized).zip
Inputs_FertilizersProduct_E_All_Data_(Normalized).zip
Inputs_FertilizersTradeValues_E_All_Data_(Normalized).zip
Inputs_LandUse_E_All_Data_(Normalized).zip
Inputs_Pesticides_Trade_E_All_Data_(Normalized).zip
Inputs_Pesticides_Use_E_All_Data_(Normalized).zip
Investment_CapitalStock_E_All_Data_(Normalized).zip
Investment_CountryInvestmentStatisticsProfile__E_All_Data_(Normalized).zip
Investment_CreditAgriculture_E_All_Data_(Normalized).zip
Investment_ForeignDirectInvestment_E_All_Data_(Normalized).zip
Investment_GovernmentExpenditure_E_All_Data_(Normalized).zip
Investment_Machinery_E_All_Data_(Normalized).zip
Macro-Statistics_Key_Indicators_E_All_Data_(Normalized).zip
Population_E_All_Data_(Normalized).zip
PricesArchive_E_All_Data_(Normalized).zip
Prices_E_All_Data_(Normalized).zip
Price_Indices_E_All_Data_(Normalized).zip
Production_CropsProcessed_E_All_Data_(Normalized).zip
Production_Crops_E_All_Data_(Normalized).zip
Production_Indices_E_All_Data_(Normalized).zip
Production_LivestockPrimary_E_All_Data_(Normalized).zip
unit not unique meat_indigenous_ass_production_ple ['Head' 'tonnes']
unit not unique meat_indigenous_bird_nes_production_ple ['1000 Head' 'tonnes']
unit not unique meat_indigenous_buffalo_production_ple ['Head' 'tonnes']
unit not unique meat_indigenous_camel_production_ple ['Head' 'tonnes']
unit not unique meat_indigenous_cattle_production_ple ['Head' 'tonnes']
unit not unique meat_indigenous_chicken_production_ple ['1000 Head' 'tonnes']
unit not unique meat_indigenous_duck_production_ple ['1000 Head' 'tonnes']
unit not unique meat_indigenous_geese_production_ple ['1000 Head' 'tonnes']
unit not unique meat_indigenous_goat_production_ple ['Head' 'tonnes']
unit not unique meat_indigenous_horse_production_ple ['Head' 'tonnes']
unit not unique meat_indigenous_mule_production_ple ['Head' 'tonnes']
unit not unique meat_indigenous_other_camelids_production_ple ['Head' 'tonnes']
unit not unique meat_indigenous_pig_production_ple ['Head' 'tonnes']
unit not unique meat_indigenous_poultry_production_ple ['1000 Head' 'tonnes']
unit not unique meat_indigenous_rabbit_production_ple ['1000 Head' 'tonnes']
unit not unique meat_indigenous_rodents_production_ple ['1000 Head' 'tonnes']
unit not unique meat_indigenous_sheep_production_ple ['Head' 'tonnes']
unit not unique meat_indigenous_turkey_production_ple ['1000 Head' 'tonnes']
Production_LivestockProcessed_E_All_Data_(Normalized).zip
Production_Livestock_E_All_Data_(Normalized).zip
Trade_Crops_Livestock_E_All_Data_(Normalized).zip
Trade_Indices_E_All_Data_(Normalized).zip
Trade_LiveAnimals_E_All_Data_(Normalized).zip
unit not unique chickens_export_quantity_tle ['1000 Head' 'Head']
unit not unique chickens_import_quantity_tle ['1000 Head' 'Head']
unit not unique ducks_export_quantity_tle ['1000 Head' 'Head']
unit not unique ducks_import_quantity_tle ['1000 Head' 'Head']
unit not unique pigeons_other_birds_export_quantity_tle ['1000 Head' 'Head']
unit not unique pigeons_other_birds_import_quantity_tle ['1000 Head' 'Head']
unit not unique turkeys_export_quantity_tle ['1000 Head' 'Head']
unit not unique turkeys_import_quantity_tle ['1000 Head' 'Head']
Value_of_Production_E_All_Data_(Normalized).zip

In [169]:
set(failed)

set()

In [26]:
# checking duplicates

In [29]:
df = pd.read_csv(BytesIO(zf.read('CommodityBalances_LivestockFish_E_All_Data_(Normalized).zip')), 
                 encoding='latin1', 
                 compression='zip')

In [30]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,2731,Bovine Meat,5510,Production,1961,1961,tonnes,43000.0,S
1,2,Afghanistan,2731,Bovine Meat,5510,Production,1962,1962,tonnes,45800.0,S
2,2,Afghanistan,2731,Bovine Meat,5510,Production,1963,1963,tonnes,47250.0,S
3,2,Afghanistan,2731,Bovine Meat,5510,Production,1964,1964,tonnes,48000.0,S
4,2,Afghanistan,2731,Bovine Meat,5510,Production,1965,1965,tonnes,48700.0,S

In [32]:
df['Item'].unique()

array(['Bovine Meat', 'Butter, Ghee', 'Cheese', 'Cream', 'Eggs',
       'Fats, Animals, Raw', 'Freshwater Fish', 'Hides and skins',
       'Honey', 'Meat, Other', 'Milk - Excluding Butter', 'Milk, Skimmed',
       'Milk, Whole', 'Mutton & Goat Meat', 'Offals, Edible',
       'Poultry Meat', 'Silk', 'Whey', 'Wool (Clean Eq.)', 'Animal fats',
       'Fish, Seafood', 'Meat', 'Offals', 'Aquatic Animals, Others',
       'Aquatic Plants', 'Cephalopods', 'Crustaceans', 'Demersal Fish',
       'Fish Meal', 'Fish, Body Oil', 'Fish, Liver Oil',
       'Marine Fish, Other', 'Meat Meal', 'Molluscs, Other',
       'Pelagic Fish', 'Pigmeat', 'Aquatic Products, Other',
       'Meat, Aquatic Mammals'], dtype=object)

In [33]:
df['Element'].unique()

array(['Production', 'Import Quantity', 'Domestic supply quantity',
       'Food supply quantity (tonnes)', 'Seed', 'Losses', 'Other uses',
       'Stock Variation', 'Export Quantity', 'Feed', 'Processing'],
      dtype=object)

In [43]:
df_ = df.query("Item == 'Eggs' and Element == 'Domestic supply quantity'")[['Area', 'Year', 'Value', 'Unit', 'Flag']]

In [46]:
df_[df_.duplicated(subset=['Area', 'Year'], keep=False)].sort_values(by=['Area', 'Year']).head()

             Area  Year    Value    Unit Flag
901   Afghanistan  1961  10000.0  tonnes    S
4876  Afghanistan  1961  10000.0  tonnes    A
902   Afghanistan  1962  11000.0  tonnes    S
4877  Afghanistan  1962  11000.0  tonnes    A
903   Afghanistan  1963  11500.0  tonnes    S

In [47]:
# so we should keep only one Flag

In [48]:
flags = pd.Categorical(['S', 'A', 'SD', 'M'])

In [51]:
flags = df_['Flag'].astype('category', ordered=True, categories=['S', 'A', 'SD', 'M'])

/Users/semio/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  """Entry point for launching an IPython kernel.

In [62]:
# checking non unique units

In [184]:
fn = 'Emissions_Agriculture_Energy_E_All_Data_(Normalized).zip'
df = pd.read_csv(BytesIO(zf.read(fn)), 
                 encoding='latin1', 
                 compression='zip')

In [185]:
df.head()

,Country Code,Country,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,351,China,6801,Gas-Diesel oil,72184,Consumption in Agriculture,1986,1986,Terajoule,288659.0,Fc
1,351,China,6801,Gas-Diesel oil,72184,Consumption in Agriculture,1987,1987,Terajoule,313771.0,Fc
2,351,China,6801,Gas-Diesel oil,72184,Consumption in Agriculture,1988,1988,Terajoule,329896.0,Fc
3,351,China,6801,Gas-Diesel oil,72184,Consumption in Agriculture,1989,1989,Terajoule,355094.0,Fc
4,351,China,6801,Gas-Diesel oil,72184,Consumption in Agriculture,1990,1990,Terajoule,379045.0,Fc

In [186]:
gs = df.groupby(['Item', 'Element'])
gs.get_group(('Electricity', 'Consumption in Agriculture')).head()

,Country Code,Country,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
1480,351,China,6807,Electricity,72184,Consumption in Agriculture,1970,1970,Terajoule,0.0,A
1481,351,China,6807,Electricity,72182,Consumption in Agriculture,1970,1970,million kWh,0.0,A
1482,351,China,6807,Electricity,72182,Consumption in Agriculture,1971,1971,million kWh,1.0,A
1483,351,China,6807,Electricity,72184,Consumption in Agriculture,1971,1971,Terajoule,3.6,A
1484,351,China,6807,Electricity,72184,Consumption in Agriculture,1972,1972,Terajoule,3.6,A

In [ ]:
# other checkings

In [188]:
fn = 'Exchange_rate_E_All_Data_(Normalized).zip'
df = pd.read_csv(BytesIO(zf.read(fn)), 
                 encoding='latin1', 
                 compression='zip')

In [189]:
df.head()

,Area Code,Area,Item Code,Item,ISO Currency Code,Currency,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,5540,Standard local currency units per USD,AFN,Afghani,1970,1970,NaN,0.045,XAM
1,2,Afghanistan,5540,Standard local currency units per USD,AFN,Afghani,1971,1971,NaN,0.045,XAM
2,2,Afghanistan,5540,Standard local currency units per USD,AFN,Afghani,1972,1972,NaN,0.045,XAM
3,2,Afghanistan,5540,Standard local currency units per USD,AFN,Afghani,1973,1973,NaN,0.045,XAM
4,2,Afghanistan,5540,Standard local currency units per USD,AFN,Afghani,1974,1974,NaN,0.045,XAM

In [191]:
df[df['Area Code'] == 3698].head()

,Area Code,Area,Item Code,Item,ISO Currency Code,Currency,Year Code,Year,Unit,Value,Flag
9162,3698,"United Republic of Tanzania, Zanzibar",5540,Standard local currency units per USD,TZS,Tanzanian Shilling,1990,1990,NaN,195.0559,XAM
9163,3698,"United Republic of Tanzania, Zanzibar",5540,Standard local currency units per USD,TZS,Tanzanian Shilling,1991,1991,NaN,219.1574,XAM
9164,3698,"United Republic of Tanzania, Zanzibar",5540,Standard local currency units per USD,TZS,Tanzanian Shilling,1992,1992,NaN,297.7081,XAM
9165,3698,"United Republic of Tanzania, Zanzibar",5540,Standard local currency units per USD,TZS,Tanzanian Shilling,1993,1993,NaN,405.2740,XAM
9166,3698,"United Republic of Tanzania, Zanzibar",5540,Standard local currency units per USD,TZS,Tanzanian Shilling,1994,1994,NaN,509.6309,XAM

In [125]:
import requests as r

In [106]:
url_group = 'http://fenixservices.fao.org/faostat/api/v1/en/definitions/types/areagroup'
url_area = 'http://fenixservices.fao.org/faostat/api/v1/en/definitions/types/area'

In [107]:
areagroup = r.get(url_group).json()

area = r.get(url_area).json()

In [108]:
areaDf = pd.DataFrame.from_records(area['data'])
areagroupDf = pd.DataFrame.from_records(areagroup['data'])

In [109]:
areaDf.head()

         Country Country Code End Year ISO2 Code ISO3 Code M49 Code Start Year
0    Afghanistan            2                 AF       AFG        4
1         Africa         5100                                     2
2  √Öland Islands          284                          ALA      248
3        Albania            3                 AL       ALB        8
4        Algeria            4                 DZ       DZA       12

In [110]:
areagroupDf.head()

,Country,Country Code,Country Group,Country Group Code,ISO2 Code,ISO3 Code,M49 Code
0,Algeria,4,Africa,5100,DZ,DZA,12
1,Angola,7,Africa,5100,AO,AGO,24
2,Benin,53,Africa,5100,BJ,BEN,204
3,Botswana,20,Africa,5100,BW,BWA,72
4,British Indian Ocean Territory,24,Africa,5100,IO,IOT,86

In [111]:
area_to_group = areagroupDf.groupby('Country Code')['Country Group Code'].agg(lambda xs: ','.join(xs.values)).reset_index()

In [112]:
areaDf['is--country'] = False
areaDf['is--country_group'] = False

In [113]:
areaDf.loc[areaDf['Country Code'].isin(areagroupDf['Country Code'].values), 'is--country'] = True

In [114]:
areaDf.loc[areaDf['Country Code'].isin(areagroupDf['Country Group Code'].values), 'is--country_group'] = True

In [115]:
areaDf.head()

,Country,Country Code,End Year,ISO2 Code,ISO3 Code,M49 Code,Start Year,is--country,is--country_group
0,Afghanistan,2,,AF,AFG,4,,True,False
1,Africa,5100,,,,2,,False,True
2,√Öland Islands,284,,,ALA,248,,True,False
3,Albania,3,,AL,ALB,8,,True,False
4,Algeria,4,,DZ,DZA,12,,True,False

In [116]:
entity_cols = areaDf.columns

In [117]:
areaDf.columns = ['name', 'geo', 'end_year', 
                  'iso2_code', 'iso3_code', 'm49_code', 
                  'start_year', 'is--country', 'is--country_group']

In [118]:
areaDf = areaDf[['geo', 'name', 'start_year', 'end_year', 
        'iso2_code', 'iso3_code', 'm49_code', 
        'is--country', 'is--country_group']]

In [119]:
areaDf.head()

,geo,name,start_year,end_year,iso2_code,iso3_code,m49_code,is--country,is--country_group
0,2,Afghanistan,,,AF,AFG,4,True,False
1,5100,Africa,,,,,2,False,True
2,284,√Öland Islands,,,,ALA,248,True,False
3,3,Albania,,,AL,ALB,8,True,False
4,4,Algeria,,,DZ,DZA,12,True,False

In [120]:
areaDf = areaDf.set_index('geo')

In [121]:
area_to_group = area_to_group.set_index('Country Code')

In [122]:
areaDf['country_group'] = area_to_group.reindex(areaDf.index)['Country Group Code']

In [170]:
areaDf.to_csv('../../ddf--entities--geo.csv')

In [171]:
cdf = pd.DataFrame.from_records(concs)

In [172]:
cdf['concept_type'] = 'measure'

In [173]:
cdf[cdf.duplicated(subset='concept', keep=False)].sort_values('concept')

,concept,name,unit,concept_type
854,sugar_raw_equivalent_domestic_supply_quantity_cce,Sugar (Raw Equivalent) - Domestic supply quantity,tonnes,measure
906,sugar_raw_equivalent_domestic_supply_quantity_cce,"Sugar, Raw Equivalent - Domestic supply quantity",tonnes,measure
855,sugar_raw_equivalent_export_quantity_cce,Sugar (Raw Equivalent) - Export Quantity,tonnes,measure
907,sugar_raw_equivalent_export_quantity_cce,"Sugar, Raw Equivalent - Export Quantity",tonnes,measure
856,sugar_raw_equivalent_feed_cce,Sugar (Raw Equivalent) - Feed,tonnes,measure
908,sugar_raw_equivalent_feed_cce,"Sugar, Raw Equivalent - Feed",tonnes,measure
5329,sugar_raw_equivalent_food_supply_kcal_capita_d...,"Sugar, Raw Equivalent - Food supply (kcal/capi...",kcal/capita/day,measure
5300,sugar_raw_equivalent_food_supply_kcal_capita_d...,Sugar (Raw Equivalent) - Food supply (kcal/cap...,kcal/capita/day,measure
5330,sugar_raw_equivalent_food_supply_quantity_g_ca...,"Sugar, Raw Equivalent - Food supply quantity (...",g/capita/day,measure
5301,sugar_raw_equivalent_food_supply_quantity_g_ca...,Sugar (Raw Equivalent) - Food supply quantity ...,g/capita/day,measure
5302,sugar_raw_equivalent_food_supply_quantity_kg_c...,Sugar (Raw Equivalent) - Food supply quantity ...,kg,measure
5331,sugar_raw_equivalent_food_supply_quantity_kg_c...,"Sugar, Raw Equivalent - Food supply quantity (...",kg,measure
909,sugar_raw_equivalent_food_supply_quantity_tonn...,"Sugar, Raw Equivalent - Food supply quantity (...",tonnes,measure
857,sugar_raw_equivalent_food_supply_quantity_tonn...,Sugar (Raw Equivalent) - Food supply quantity ...,tonnes,measure
5303,sugar_raw_equivalent_food_supply_quantity_tonn...,Sugar (Raw Equivalent) - Food supply quantity ...,tonnes,measure
5332,sugar_raw_equivalent_food_supply_quantity_tonn...,"Sugar, Raw Equivalent - Food supply quantity (...",tonnes,measure
910,sugar_raw_equivalent_import_quantity_cce,"Sugar, Raw Equivalent - Import Quantity",tonnes,measure
858,sugar_raw_equivalent_import_quantity_cce,Sugar (Raw Equivalent) - Import Quantity,tonnes,measure
911,sugar_raw_equivalent_losses_cce,"Sugar, Raw Equivalent - Losses",tonnes,measure
859,sugar_raw_equivalent_losses_cce,Sugar (Raw Equivalent) - Losses,tonnes,measure
912,sugar_raw_equivalent_other_uses_cce,"Sugar, Raw Equivalent - Other uses",tonnes,measure
860,sugar_raw_equivalent_other_uses_cce,Sugar (Raw Equivalent) - Other uses,tonnes,measure
913,sugar_raw_equivalent_processing_cce,"Sugar, Raw Equivalent - Processing",tonnes,measure
861,sugar_raw_equivalent_processing_cce,Sugar (Raw Equivalent) - Processing,tonnes,measure
862,sugar_raw_equivalent_production_cce,Sugar (Raw Equivalent) - Production,tonnes,measure
914,sugar_raw_equivalent_production_cce,"Sugar, Raw Equivalent - Production",tonnes,measure
916,sugar_raw_equivalent_stock_variation_cce,"Sugar, Raw Equivalent - Stock Variation",tonnes,measure
863,sugar_raw_equivalent_stock_variation_cce,Sugar (Raw Equivalent) - Stock Variation,tonnes,measure

In [174]:
cdf = cdf.drop_duplicates(subset='concept')

In [175]:
cdf.shape

(11685, 4)

In [176]:
!ls ../../ | grep ddf--datapoints-- | wc -l

   11685

In [177]:
cdf.to_csv('../../ddf--concepts--continuous.csv', index=False)

In [131]:
entity_cols

Index(['Country', 'Country Code', 'End Year', 'ISO2 Code', 'ISO3 Code',
       'M49 Code', 'Start Year', 'is--country', 'is--country_group'],
      dtype='object')

In [162]:
cdf2 = pd.DataFrame([['name', 'string', 'Name', ''],
                     ['geo', 'entity_domain', 'Geo domain', ''],
                     ['country', 'entity_set', 'Country', 'geo'],
                     ['country_group', 'entity_set', 'Country Group', 'geo'],
                     ['year', 'time', 'Year', ''],
                     ['iso2_code', 'string', 'ISO2 Code', ''],
                     ['iso3_code', 'string', 'ISO3 Code', ''],
                     ['m49_code', 'string', 'M49 Code', ''],
                     ['start_year', 'string', 'Start Year', ''],
                     ['end_year', 'string', 'End Year', ''],
                     ['domain', 'string', 'Domain', ''],
                     ['unit', 'string', 'Unit', '']
                    ])

In [163]:
cdf2.columns = ['concept', 'concept_type', 'name', 'domain']

In [164]:
cdf2.to_csv('../../ddf--concepts--discrete.csv', index=False)

In [135]:
# don't include geos not in geo domain

geos = pd.read_csv('../../ddf--entities--geo.csv')['geo'].unique()

In [136]:
import os

In [181]:
pced = []

In [180]:
# check if all geos from datapoints are in geo domain 
for f in os.listdir('../../'):
    if 'datapoints' in f and f not in pced:
        df = pd.read_csv(os.path.join('../../', f))
        df_ = df[~df['geo'].isin([57060, 261, 266, 268, 269])]
        if df.shape != df_.shape:
            #s1 = set(df['geo'].unique())
            #s2 = set(geos)
            # print(f, s1.difference(s2), 'not in geo entity')
            df_.to_csv(os.path.join('../../', f), index=False)
        pced.append(f)

In [182]:
# remove empty files
for f in os.listdir('../../'):
    if 'datapoints' in f and f not in pced:
        df = pd.read_csv(os.path.join('../../', f))
        if df.shape[0] == 0:
            os.remove(os.path.join('../../', f))
        pced.append(f)

In [152]:
fn = 'Trade_Crops_Livestock_E_All_Data_(Normalized).zip'
df = pd.read_csv(BytesIO(zf.read(fn)), 
                 encoding='latin1', 
                 compression='zip')

In [157]:
df[df['Area Code'].isin([57060, 261, 266, 268, 269])]['Area'].unique()  ## these areas are not in areaDF

array(['EU(12)ex.int', 'EU(15)ex.int', 'EU(25)ex.int', 'EU(27)ex.int',
       'European Union (exc intra-trade)'], dtype=object)